{% extends "components/base_list.html" %}
{% load static%}
{% block search %}
   <form action="" style="max-width: 450px;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por permiso " name="q1" value="{{ request.GET.q1 }}">
            <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-title="Escriba parte del apellido y click en buscar">
                Buscar
            </button>
        </div>
    </form>           
{% endblock search %}
{% block columns %}
    <tr class="text-primary"> 
        <th class="text-primary">Nombre </th>
        <th class="text-primary">Tiempo Permitido</th>
        <th class="text-primary">Dias 25%</th>
        <th class="text-primary">Clase Permiso</th>
        <th class="text-primary">Remunerado</th>
        <th class="text-primary">Afectacion Iess</th>
        <th class="text-primary">Activo</th>
        <th class="text-danger">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}

    {% for item in typePermission %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.time_limit}}</td>
            <td>{{item.days25}}</td>
            <td>{{item.classPermission}}</td>
            {% if item.remuneration %}
                <td class="text-center text-success fs-3"><i class='bx bx-check-circle'></i></td>
            {% else %}
                <td class="text-center text-danger fs-3"><i class='bx bx-x-circle'></i></td>
            {% endif %}

            {% if item.iess %}
            <td class="text-center text-success fs-3"><i class='bx bx-check-circle'></i></td>
            {% else%}
            <td class="text-center text-danger fs-3"><i class='bx bx-x-circle'></i></td>
            {% endif %}
            {% if item.active %}
            <td class="text-center text-success fs-3"><i class='bx bx-check-circle'></i></td>
            {% else%}
            <td class="text-center text-danger fs-3"><i class='bx bx-x-circle'></i></td>
            {% endif %}
            <td class="text-center ">
                {% if  permissions.change_typepermission %}
                    <a class="text-success" href="{% url 'payment_role:typePermission_update' item.id %}" data-bs-toggle="tooltip" data-bs-title="Editar la typePermission "><i class="bi bi-pencil-fill"></i></a>
                {% endif %}
                {% if  permissions.delete_typepermission %}
                    <a class="text-danger" href="{% url 'payment_role:typePermission_delete' item.id %}" data-bs-toggle="tooltip" data-bs-title="Eliminar la typePermission"><i class="bi bi-x-circle-fill"></i></a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10" class="text-danger fw-bold h3 text-center">
                <div class="py-2 mt-2 border border-1 shadow rounded text-center">
                    ¡No se encontraron datos que cumplan los criterios de búsqueda...!
                </div>   
            </td>
        </tr>
    {% endfor%}  
{% endblock %}